In [31]:
!pip3 install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.6-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: packaging in /home/solitary-developer/anaconda3/lib/python3.11/site-packages (from kagglehub) (23.1)
Requirement already satisfied: requests in /home/solitary-developer/anaconda3/lib/python3.11/site-packages (from kagglehub) (2.31.0)
Requirement already satisfied: tqdm in /home/solitary-developer/anaconda3/lib/python3.11/site-packages (from kagglehub) (4.65.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/solitary-developer/anaconda3/lib/python3.11/site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/solitary-developer/anaconda3/lib/python3.11/site-packages (from requests->kagglehub) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/solitary-developer/anaconda3/lib/python3.11/site-packages (from requests->kagglehub) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/solitary-developer/anaconda3/lib/python3.11/site-packages (from requests->kagglehub) (2024.8.30)
Downloading kagglehub-0.3.6-py3-none-any.whl (51 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.9/51.9 kB 885.1 kB/s eta 0:00:001m1.1 MB/s eta 0:00:01
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.6

In [33]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("mehmetisik/advertisingcsv")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/mehmetisik/advertisingcsv?dataset_version_number=1...

100%|██████████████████████████████████████| 1.84k/1.84k [00:00<00:00, 2.60MB/s]

Extracting files...
Path to dataset files: /home/solitary-developer/.cache/kagglehub/datasets/mehmetisik/advertisingcsv/versions/1

In [35]:
import os


os.path.join("/home/solitary-developer/.cache/kagglehub/datasets/mehmetisik/advertisingcsv/versions/1")

'/home/solitary-developer/.cache/kagglehub/datasets/mehmetisik/advertisingcsv/versions/1'

In [85]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error


from sklearn.datasets import fetch_california_housing

In [37]:
dataset=pd.read_csv('../advertising.csv')

In [39]:
dataset

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [47]:
dataset.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [49]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [71]:
X=dataset[["TV","radio","newspaper"]]
Y=dataset["sales"]

In [161]:
class MultipleLR:
    def fit(self,x,y):
        x.insert(0,'Xo',np.ones(x.shape[0]))
       
        self.coeffecients=np.linalg.inv(x.T @ x).T @ x.T @ y
        return self.coeffecients
    def predict(self,X):
         # Add a column of ones to the feature matrix X for the bias term (for predictions)
        X = np.c_[np.ones(X.shape[0]), X]  # Adds a column of ones at index 0

        # Make predictions using the formula: X @ coefficients
        return X @ self.coeffecients

In [163]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,train_size=0.8)

In [165]:
x_train.shape

(160, 3)

In [167]:
x_test.shape

(40, 3)

In [169]:
mlr=MultipleLR()

In [171]:
mlr.fit(x_train,y_train)

0    2.949405
1    0.047041
2    0.180076
3    0.001021
dtype: float64

In [173]:
predicted=mlr.predict(x_test)

In [176]:
print("MAE",mean_absolute_error(y_test,predicted))
print("MSE",mean_squared_error(y_test,predicted))
print("F1-Score",r2_score(y_test,predicted))

MAE 1.269525656446155
MSE 2.618137684683031
F1-Score 0.8813475416629037